html,
body {
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(
    135deg,
    #7030fa,
    #5b62fa,
    #87b1fa,
    #8e94fa,
    #8258dd
  );
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  box-sizing: border-box;
}
@keyframes shrink {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.01);
  }
}

@keyframes expand {
  0% {
    transform: scaleX(0.01);
  }
  100% {
    transform: scaleX(1);
  }
}

.shrink-animation {
  transform-origin: center;
  animation: shrink 0.5s ease-in-out;
}

.expand-animation {
  transform-origin: center;
  animation: expand 0.5s ease-in-out;
}

.zasady {
  position: absolute;
  left: 25vw;
  top: 14vh;
  text-align: center;
  display: none;
  font-size: 2vw;
  margin-top: 28vw;
}
#poziom {
  position: absolute;
  left: 26vw;
  top: 10vh;
  font-size: 2vw;
  font-weight: bold;
}
.slider::-webkit-slider-runnable-track {
  background: #a344eb; /* Kolor toru (zielony) */
  height: 1.8vh; /* Wysokość toru */
  border-radius: 1vw; /* Zaokrąglenie rogów */
  border: black solid 0.2vw; /* Ramka toru */
}
/* Stylowanie uchwytu (kropki) suwaka w Webkit (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Usunięcie domyślnego wyglądu uchwytu */
  background-color: white; /* Kolor kropki (pomarańczowy) */
  border: 0.3vw solid white; /* Obwódka uchwytu */
  border-radius: 5vw; /* Zaokrąglenie uchwytu, tworzy kropkę */
  width: clamp(15px, 3vw, 30px);   /* min 15px, rośnie do 3vw, max 30px */
  height: clamp(15px, 3vw, 30px);
  cursor: pointer; /* Kursor wskazujący */
}
.karta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: darkblue 1vw 1vw 4vw;
  flex: 1;
  border-radius: 40px;
  background-color: black;
  width: 10vw;
  height: 30vh;
  transition: transform 1s ease;
}

#karta1 {
  background-color: black;
}

#karta2 {
  background-color: black;
}

#karta3 {
  background-color: red;
}
.karta:hover {
  transform: scale(1.1);
}
.karta1:hover {
  transform: scale(1.1);
}
.karta2:hover {
  transform: scale(1.1);
}
.karta3:hover {
  transform: scale(1.1);
}
.gra {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10vw;
  top:40vh;
  left: 25vw;
  width: 50vw;
}
.gra.disabled { pointer-events: none; }
.opis,
.start {
  background-color: #d58dd8;
  color: white;
  width: 10vw;
  border-radius: 1vw;
  height: 7vh;
  font-size: 3vh;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: solid #8b639d 0.5vh;
}
.opis:hover,
.start:hover {
  transform: scale(1.1);
  background-color: #d58dd8;
  box-shadow: #8b639d 0.5vw 0.5vw 2vw;
  color: #4d384a;
}
#wynik {
  position: absolute;
  left: 47vw;
  top: 35vw;
  font-size: 3vh;
  font-weight: bold;
}
:root {
  --poz-ile-h: 12.5vh;
  --poz-szyb-h: 20.5vh;
  --slid-ile-h: 16.5vh;
  --slid2-szyb-h: 24.5vh;
}
.start {
  position: absolute;
  left: 45vw;
  top: 85vh;
}
.opis {
  position: absolute;
  left: 45vw;
  top: 8vh;
}
.title1 {
  position: absolute;
  left: 45.5vw;
  top: 1vh;
  font-size: 3vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#slider {
  position: absolute;
  left: 20vw;
  top: var(--slid-ile-h);
  width: 10vw;
}
.strike {
  position: absolute;
  left: 60vw;
  top: 84.5vh;
  font-size: 3vw;
  font-weight: bold;
  text-shadow: #7030fa 2px 2px 5px;
}
.ogien {
  position: absolute;
  left: 62vw;
  top: 83vh;
  font-size: 3vw;
  font-weight: bold;
  width: 4vw;
  text-shadow: #7030fa 2px 2px 5px;
}
#slider2 {
  position: absolute;
  left: 20vw;
  top: var(--slid2-szyb-h);
  width: 10vw;
  direction: rtl;
}
.poz {
  position: absolute;
  left: 10vw;
  top: 10vh;
  font-size: 2vw;
  font-weight: bold;
}
.ilosc {
  position: absolute;
  left: 10vw;
  top: var(--poz-ile-h);
  font-size: 1.5vw;
  font-weight: bold;
}
.szybkosc {
  position: absolute;
  left: 10%;
  top: var(--poz-szyb-h);
  font-size: 1.5vw;
  font-weight: bold;
}
.tas {
  position: absolute;
  font-size: 1.5vw;
  font-weight: bold;
}
.szyb {
  position: absolute;
  font-size: 1.5vw;
  font-weight: bold;
}
.ile {
  position: absolute;
  top: 15vh;
  left: 49vw;
  font-size: 2vw;
  font-weight: bold;
  text-shadow: #7030fa 2px 2px 5px;
}
.karta1 {
  order: 1;
}
.karta2 {
  order: 3;
}
.karta3 {
  order: 2;
}
.motyw {
  text-align: center;
  font-size: 2vw;
  position: absolute;
  top: 2vh;
  left: 75vw;
}
.motyw2 {
  text-align: center;
  font-size: 1.5vw;
  width: 33.5vw;
  height: 20vh;
  position: absolute;
  top: 8vh;
  left: 61vw;
  background-color: #d58dd8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  border-radius: 20px;
}
:root {
  --motyw-w: 10vw;
  --motyw-h: 20vh;
  --motyw-1w: 5vw;
  --motyw-1h: 20vh;
  --radius: 1vw;
}
.czerwony {
  width: var(--motyw-w);
  height: var(--motyw-h);
  order: 1;
  border-radius: var(--radius);
  display: flex;
}
.cz {
  background-color: red;
  border-radius: var(--radius);
  width: var(--motyw-1w);
  height: var(--motyw-1h);
}
.bl {
  background-color: black;
  border-radius: var(--radius);
  width: var(--motyw-1w);
  height: var(--motyw-1h);
}
.krol {
  order: 2;
  width: var(--motyw-w);
  height: var(--motyw-h);
  border-radius: var(--radius);
  display: flex;
}
.krolcz {
  width: var(--motyw-1w);
  border-radius: var(--radius);
  height: var(--motyw-1h);
  background-color: red;
}
.krolbl {
  width: var(--motyw-1w);
  border-radius: var(--radius);
  height: var(--motyw-1h);
  background-color: black;
}
.mot {
  order: 3;
  width: var(--motyw-w);
  height: var(--motyw-h);
  border-radius: var(--radius);
  display: flex;
}
.mot1 {
  width: var(--motyw-1w);
  border-radius: var(--radius);
  height: var(--motyw-1h);
}
.mot2 {
  width: var(--motyw-1w);
  border-radius: var(--radius);
  height: var(--motyw-1h);
}
.zasady {
  position: absolute;
  top: 20vh;
  left: 20vw;

}

@media (max-width: 768px) {
  body {
    font-size: 4vw;
  }
  .gra {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vh;
    left: 15vw;
  }
  .karta {
    width: 20vw;
    height: 30vh;
  }
  .motyw2 {
    top: 80vh;
    width: 40vw;
    height: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .czerwony,.krol,.mot{
    width: auto;
    height: auto;
  }

  .opis,
  .start {
    width: 30vw;
    font-size: 5vw;
    left: 40vw;
  }
  .start{
    top: 30vh;
  }
  .title1{
    left: 40vw;
  }
  .motyw{
    top: 75vh;
    font-size: 4vw;
  }
  .ile{
    font-size: 10vw;
    left: 52vw;
  }
  .panel{
    font-size: 30vw;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .strike, .ogien{
    top: 75vh;
    left: 50vw;
    font-size: 10vw;
  }
  .ogien{
    left: 58vw;
    height: 5vh;
    width: 5vw;
  }
  .zasady{
    font-size: 5vw;
    top: 8vh;
    padding: 10vw;
    left: 3vw;
  }
  .slider{
    position: absolute;
    left: 10vw;
    top: 80vh;
  }
  .poz{
    top: 75vh;
    font-size: 4vw;
  }
  .ilosc,.tas{
    top:80vh;
    font-size: 4vw;
  }
  .tas{
    top: 3vh;
  }
  .szybkosc,.szyb{
    top: 88vh;
    font-size: 4vw;
  }
  .szyb{
    top: 3vh;
  }
  #slider{
    top: 82.5vh;
    left: 40vw;
    width: 20vw;
  }
#slider2{
    top: 90.5vh;
    left: 40vw;
    width: 20vw;
  }
}
